.Quote {
  max-width: 100vw;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Quote__quote {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.Quote__author {
  font-size: 2rem;
}
